<header class="bc-midnight">
  <div onclick="open_page('painel.anuncio.html');" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Negociar Imóvel</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <input type="hidden" id="id-anuncio">
  <div class="content">
    Selecione um dos imóveis que você anunciou para negociar com este.
  </div>
  <div class="main-menu display-none" id="list-menu"></div>
</section>

<div class="display-none" id="template-desejo">
  <div class="item" rid="{{id}}" onclick="adicionar_desejo($(this).attr('rid'), $('#id-anuncio').val());">
    <div class="icon-left"><i class="fa fa-home color-midnight"></i></div>
    <div class="label text-truncate">{{titulo}}</div>
    <div class="icon-right"></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  carregar_grid_anuncios_desejo();
  var idAnuncio = localStorage.getItem('id-anuncio');
  $('#id-anuncio').val(idAnuncio);
});
</script>