<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html');" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Mensagens</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="content display-none" id="alerta"><i class="fa fa-bell fa-fw color-salmon" aria-hidden="true"></i> Nenhuma nova mensagem.</div>
  <div class="main-menu display-none" id="list-menu"></div>
</section>

<div class="display-none" id="template">
  <div class="item">
    <div class="icon-right color-midnight">{{envelope}}</div>
    <div class="label text-truncate" onclick="abrir_conversa({{idCorrespondente}}, '{{correspondente}}');">{{correspondente}}</div>
    <div class="icon-right" onclick="confirmar_remocao_conversa({{idCorrespondente}});"><i class="fa fa-trash-o color-salmon"></i></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_grid_mensagem();
});
</script>