<header class="bc-midnight">
  <div onclick="open_last_page();" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Conversa</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="chat-log" id="chat-conversa"></div>
</section>

<footer class="chat-form bg-midnight">
  <input type="text" class="input-chat" id="chat-mensagem" placeholder="escreva uma mensagem..." maxlength="150">
  <button type="button" class="btn-chat bg-midnight" onclick="chat_enviar_mensagem();"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i></button>
</footer>

<div class="display-none" id="template-chat-a">
  <div class="row">
  <div class="col-xs-8"><div class="chat-box chat-box-a"><small class="text-muted">{{hora}}</small> {{mensagem}}</div></div>
  <div class="col-xs-4"></div>
  </div>
</div>

<div class="display-none" id="template-chat-b">
  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-8"><div class="chat-box chat-box-b"><small class="text-muted">{{hora}}</small> {{mensagem}}</div></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  iniciar_chat();
  $('#chat-mensagem').keypress(function(e) {
    if (e.which == 13) chat_enviar_mensagem();
  });
  atualizarChat = setInterval(function() {
    console.log('teste');
    chat_carregar_conversa();
  }, 5000);
});
</script>