<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html')" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Anunciar Imóvel</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
<form id="formulario-anunciar-imovel" method="post" enctype="multipart/formdata">
  <input type="hidden" name="token" id="token">
  <div class="input-text">
    <label>Título do anúncio:</label>
    <input type="text" id="titulo" name="titulo" maxlength="150">
  </div>
  <div class="input-text">
    <label>Descrição do imóvel:</label>
    <textarea rows="3" id="descricao" name="descricao" maxlength="500"></textarea>
  </div>
  <div class="input-select">
    <label>Categoria:</label>
    <select id="select-categoria" name="idCategoria"></select>
  </div>
  <div class="input-select">
    <label>Proposta:</label>
    <select id="select-proposta" name="idProposta"></select>
  </div>
  <div class="input-select">
    <label>Estado:</label>
    <select id="select-estado" name="idEstado" onchange="carregar_select_cidade(null, $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Cidade:</label>
    <select id="select-cidade" name="idCidade" onchange="carregar_select_bairro(null, $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Bairro:</label>
    <select id="select-bairro" name="idBairro"></select>
  </div>
  <div class="input-text">
    <label>Nº Quartos:</label>
    <input type="number" id="n-quartos" name="nQuartos" min="0" max="99" placeholder="valor numérico">
  </div>
  <div class="input-text">
    <label>Nº Suítes:</label>
    <input type="number" id="n-suites" name="nSuites" min="0" max="99" placeholder="valor numérico">
  </div>
  <div class="input-text">
    <label>Nº Banheiros:</label>
    <input type="number" id="n-banheiros" name="nBanheiros" min="0" max="99" placeholder="valor numérico">
  </div>
  <div class="input-text">
    <label>Nº Vagas:</label>
    <input type="number" id="n-vagas" name="nVagas" min="0" max="99" placeholder="valor numérico">
  </div>
  <div class="input-text">
    <label>Área:</label>
    <input type="number" id="metragem" name="metragem" min="0" max="99999" placeholder="m²">
  </div>
  <div class="input-text">
    <label>Valor do imóvel:</label>
    <input type="text" id="valor-imovel" name="valorImovel" maxlength="15">
  </div>
  <div class="input-text">
    <label>Valor do condomínio:</label>
    <input type="text" id="valor-condominio" name="valorCondominio" maxlength="10" placeholder="mensalidade">
  </div>
  <div class="input-text">
    <label>Valor do IPTU:</label>
    <input type="text" id="valor-iptu" name="valorIPTU" maxlength="10">
  </div>
  <div class="input-text">
    <label>Selecione fotografias do imóvel:</label>
    <input type="file" name="upload[]" id="filer-input" multiple="multiple">
  </div>
  <div class="input-text">
    <label>URL do vídeo no Youtube:</label>
    <input type="text" id="video-youtube" name="videoYoutube">
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="submit" class="btn btn-submit bg-salmon m-bottom-10"><i class="fa fa-bullhorn fa-fw"></i> Publicar Anúncio</button>
    </div>
  </div>
</form>
</section>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_select_estado();
  carregar_select_cidade();
  carregar_select_bairro();
  carregar_select_categoria();
  carregar_select_proposta();
  $('#n-quartos').keypress(verificar_digito);
  $('#n-suites').keypress(verificar_digito);
  $('#n-banheiros').keypress(verificar_digito);
  $('#n-vagas').keypress(verificar_digito);
  $('#metragem').keypress(verificar_digito);
  $('#valor-imovel').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#valor-condominio').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#valor-iptu').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#filer-input').filer({
    addMore: true,
    limit: 50,
    maxSize: 10,
    extensions: ['jpg', 'jpeg'],
    changeInput: true,
    showThumbs: true
  });
});

$(document).ready(function (e) {
  $('#formulario-anunciar-imovel').on('submit',(function(e) {
    e.preventDefault();
    var token = localStorage.getItem('token');
    $('#token').val(token);    
    var formData = new FormData(this);

    $('.btn-submit').attr('disabled', true);
    $('.btn-submit').html('<i class="fa fa-refresh fa-spin fa-fw"></i> Carregando...');

    $.ajax({
      type:'POST',
      url: 'http://trocaimovel.com.br/api/anunciar.imovel.php',
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function(data){
      var resposta = $.parseJSON(data);
        
        if (resposta != null) {
          var codigo = resposta[0].codigo;
          var alerta = resposta[0].alerta;

          $('.btn-submit').attr('disabled', false);
          $('.btn-submit').html('<i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i> Publicar Anúncio');

          if (codigo == 100) open_alert_modal(alerta, "open_page('painel.gerenciar.anuncios.html');");
          else open_alert_modal(alerta, 'close_modal();');
        }
      },
      error: function(data){
        open_alert_modal(data, "open_page('painel.gerenciar.anuncios.html');");
      }
    });
  }));
});
</script>