<header class="bc-midnight">
  <div onclick="open_page('login.html')" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Política de Privacidade</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="content">
    <b>1. O que fazemos com as suas informações</b>
    <p></p>
    O termo “informações pessoais” usado aqui, é definido como qualquer informação que identifica ou pode ser usada para identificar, contatar ou localizar a pessoa, a quem tal informação pertence. As informações pessoais que coletamos estará sujeita a esta Política de Privacidade, a qual é alterada de tempos em tempos.
    Quando você se cadastra no Troca Imóvel pedimos o seu endereço de e-mail.
    O Troca Imóvel utiliza as informações que são coletadas para os seguintes propósitos gerais: fornecimento de produtos e serviços, cobrança, identificação e autenticação, melhoria de serviços, contato e pesquisa.
    Como parte do processo de compra e venda no Troca Imóvel, você irá obter o endereço de e-mail e/ou endereço de entrega de seus clientes. Ao aceitar nosso Acordo de Usuário, você concorda que, com respeito às Informações Pessoais de outros usuários que você obtém através do Troca Imóvel ou através de uma comunicação relacionada do Troca Imóvel ou transação facilitada do Troca Imóvel, o Troca Imóvel concede a você uma licença para utilizar tais informações apenas para comunicações relacionadas ao Troca Imóvel que não sejam mensagens comerciais não solicitadas. O Troca Imóvel não tolera spam. Portanto, sem limitar o precedente, você não está licenciado a adicionar o nome de alguém que tenha comprado um item seu, para sua lista de correio (e-mail ou correio físico) sem que tenha consentimento expresso deles.
    <p></p>
    <b>O que significa:</b> Quando você se cadastra, você fornece informações pessoais que coletamos e usamos. Para o processo de finalização de compra (check-out) também coletamos informações do seu cartão de crédito. Apenas use as informações dos seus clientes do Troca Imóvel para comunicações relacionadas ao Troca Imóvel, a menos que eles lhe permitam fazê-lo. Não faça spam para ninguém!
    <p></p>
    <b>2. Segurança</b>
    <p></p>
    A segurança de suas informações pessoais é importante para nós. Quando você insere informações confidenciais, tais como número de cartão de crédito em nosso formulário de inscrição, nós criptografamos a transmissão dessas informações usando a tecnologia Secure Socket Layer (SSL). Os dados do cartão de crédito são armazenados e criptografados usando criptografia AES-256. Como um fornecedor de serviços em conformidade com o PCI DSS Nível 1 seguimos todos os requisitos do PCI-DSS e implementamos padrões adicionais geralmente aceitos da indústria, para proteger a informação pessoal que nos é submetida, tanto durante a transmissão quanto assim que a recebemos. Nenhum método de transmissão pela Internet, ou método de armazenamento eletrônico é 100% seguro. Portanto, enquanto nos esforçamos para utilizar meios comercialmente aceitáveis para proteger suas informações pessoais, não podemos garantir sua segurança absoluta. Se você tem dúvidas sobre a segurança em nosso Site, você pode enviar um e-mail para contato@trocaimovel.com.br.
    <p></p>
    <b>O que significa:</b> Vamos criptografar seu cartão de crédito e informações confidenciais nos padrões da indústria. Porque as coisas acontecem, nós não podemos garantir 100% de segurança de seus dados. Se você tiver dúvidas envie um e-mail para contato@trocaimovel.com.br
    <p></p>
    <b>3. Divulgação</b>
    <p></p>
    Troca Imóvel pode utilizar terceiros prestadores de serviços para fornecer determinados serviços para você e nós podemos compartilhar informações pessoais com esses prestadores de serviços. Exigimos que qualquer empresa com a qual podemos compartilhar Informações Pessoais, proteja os dados de uma forma consistente com essa política, e limite o uso de tais Informações Pessoais para o desempenho dos serviços do Troca Imóvel.
    Troca Imóvel pode divulgar Informações Pessoais em circunstâncias especiais, como para cumprir ordens judiciais obrigando-nos a fazê-lo ou quando suas ações violam os Termos de Serviço.
    Nós não vendemos ou fornecemos Informações Pessoais para outras empresas, para que elas façam o marketing dos seus próprios produtos ou serviços.
    <p></p>
    <b>O que significa:</b> Em certas circunstâncias, podemos divulgar suas informações pessoais, como no caso de ordens judiciais.
    <p></p>
    <b>4. Armazenamento de Dados do Cliente</b>
    <p></p>
    Troca Imóvel possui o armazenamento de dados, bancos de dados e todos os direitos da aplicação Troca Imóvel, entretanto, não fazemos nenhuma reivindicação dos direitos dos seus dados. Você retém todos os direitos sobre os seus dados e nós nunca entraremos em contato com seus clientes diretamente, ou usaremos seus dados para a nossa própria vantagem comercial ou para competir com você, ou para divulgar para os seus clientes.
    <p></p>
    <b>O que significa:</b> Você possui seus dados e nós vamos respeitar isso. Não vamos tentar competir com você ou escrever para os seus clientes.
    <p></p>
    <b>5. Cookies</b>
    <p></p>
    Um cookie é uma pequena quantidade de dados, que podem incluir um identificador único anônimo. Os cookies são enviados para o seu navegador a partir de um site da web e armazenado no disco rígido do seu computador. Para cada computador que acessa o nosso site é atribuído um cookie diferente por nós.
    <p></p>
    <b>6. Google Analytics e Remarketing</b>
    <p></p>
    Nós usamos um serviço fornecido pelo Google chamado Google Analytics (GA). O GA nos permite alcançar as pessoas que já visitaram o nosso site, e mostrar-lhes anúncios relevantes quando visitam outros sites na Internet da Rede de Display do Google. Isso é chamado de "remarketing".
    <p></p>
    Os cookies podem ser usados para rastrear sua sessão no nosso site, para veicular anúncios personalizados do Google e de outros fornecedores terceiros. Quando você visita este site, você pode ver anúncios publicados no site pelo Google ou outros terceiros. Através de nossos cookies e de cookies de terceiros, esses terceiros podem coletar informações sobre você enquanto você estiver visitando esse site e outros sites. Eles podem usar esses dados para mostrar anúncios nesse site e através da Internet, baseado em suas visitas anteriores a este site e a outros lugares na Internet. Nós não coletamos essas informações ou controlamos o conteúdo dos anúncios que você vai ver.
    <p></p>
    Optando por não ver: Você pode ser capaz de optar por não ver anúncios personalizados da Rede de Display do Google, visitando o Gerenciador de Preferências de Anúncios ([http://www.google.com/ads/preferences/](http://www.google. com.br/ads/preferences/)), e o Complemento do Navegador do Google Analytics Opt-out (http://www.google.ca/ads/preferences/plugin/).
    <p></p>
    O uso deste site sem “optar por não ver” significa que você entende e concorda com a coleta de dados para lhe fornecer anúncios de remarketing usando o GA e os cookies de outros fornecedores terceiros baseados em suas visitas anteriores a este site e a outros lugares na Internet.
    <p></p>
    <b>O que significa:</b> Para identificá-lo eletronicamente, um cookie será armazenado no seu computador. Temos uma ferramenta de “remarketing” executando que nos permite tomar nota das suas visitas ao nosso site e mostrar anúncios relevantes no nosso site e em toda a Internet. Você pode sempre optar por não ver.
    <p></p>
    <b>7. PCI-DSS</b>
    <p></p>
    O Padrão de Segurança de Dados da Indústria de Pagamento com Cartão (PCI-DSS) é um conjunto de requisitos de segurança gerenciados pelo Conselho de Padrões de Segurança PCI, um esforço conjunto das marcas de pagamento, incluindo Visa, MasterCard, American Express e Discover. Os requisitos do PCI-DSS ajudam a garantir a manipulação segura de informações de cartão de crédito pelos comerciantes e prestadores de serviços.
    <p></p>
    <b>O que significa:</b> Usaremos os padrões da indústria sobre segurança, os mesmos utilizados pelas grandes empresas de cartão de crédito, para ajudar você a manter uma conta segura no Troca Imóvel.
    <p></p>
    <b>8. Alterações a esta Política de Privacidade</b>
    <p></p>
    Reservamos o direito de modificar esta declaração de privacidade a qualquer momento, portanto, revise-a frequentemente. Se fizermos alterações materiais a esta política, iremos notificá-lo aqui ou por meio de um aviso em nossa homepage, de modo que você está ciente das informações que coletamos, como as usamos, e sob quais circunstâncias, se houver, as divulgamos .
    <p></p>
    <b>O que significa:</b> Podemos alterar esta Política de Privacidade. Se for uma grande mudança, iremos informá-lo, aqui.
    <p></p>
    <b>8. Perguntas</b>
    <p></p>
    Quaisquer dúvidas sobre esta Política de Privacidade devem ser endereçadas a contato@trocaimovel.com.br ou por correio para: Rua José Alexandre Buaiz, 300 Vitória, ES.
  </div>
</section>