<header class="bc-midnight">
  <div onclick="open_page('login.html')" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Criar Conta</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
<form id="formulario-cadastro">
  <div class="input-text">
    <label>Nome:</label>
    <input type="text" class="form-control text-capitalize" id="nome" name="nome" maxlength="20">
  </div>
  <div class="input-text">
    <label>Último sobrenome:</label>
    <input type="text" class="form-control text-capitalize" id="sobrenome" name="sobrenome" maxlength="20">
  </div>
  <div class="input-select">
    <label>Estado:</label>
    <select id="select-estado" name="idEstado" onchange="carregar_select_cidade('#formulario-cadastro ', $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Cidade:</label>
    <select id="select-cidade" name="idCidade"></select>
  </div>
  <div class="input-text">
    <label>E-mail de cadastro:</label>
    <input type="text" class="text-lowercase" id="email-cadastro" name="emailCadastro" maxlength="50">
  </div>
  <div class="input-text">
    <label>Senha:</label>
    <input type="password" id="senha" name="senha" maxlength="20">
  </div>
  <div class="input-text">
    <label>Repetir senha:</label>
    <input type="password" id="repetir-senha" name="repetirSenha" maxlength="20">
  </div>
  <div class="content text-center border-none">
    <div class="default-container text-center">
      <button type="button" onclick="criar_conta();" class="btn btn-submit bg-salmon m-bottom-10">Criar Conta</button>
    </div>
  </div>
</form>
</section>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_select_estado('#formulario-cadastro ');
  carregar_select_cidade('#formulario-cadastro ');
  carregar_select_bairro('#formulario-cadastro ');
  $('#rg').keypress(verificar_digito);  
  $('#telefone').mask('(00) 0000-00009');
  $('#contato-telefone').mask('(00) 0000-00009');
  $('#cpf').mask('999.999.999-99');
  $('#senha-cpf').mask('999.999.999-99');
  $('#nascimento').mask('99/99/9999');
});
</script>